@import "../../../constants";

:host {
  position: relative;
  height: calc(100vh - $headerHeight);
  width: 100vw;

  app-drawing-tools {
    position: fixed;
    left: 0;
    top: $headerHeight;
    z-index: 1;
  }

  canvas {
    cursor: cell;
    background-color: $backgroundColor;
    position: fixed;
    left: 0;
    top: $headerHeight;
    height: calc(100vh - $headerHeight);
    width: 100vw;
  }
}
