@import "../../../constants";

:host {
  position: relative;
  height: calc(100vh - $headerHeight);
  width: 100vw;

  .editor-options {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
    padding: 5px;
  }

  button {
    margin: 0 5px;
  }

  .select-color {
    margin: 0 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 3px solid $selectColor;
    transition: all .5s;
    opacity: .3;

    &:hover, &.active {
      opacity: 1;
    }
  }

  .buttons-group {
    margin: 0 5px;
  }

  canvas {
    cursor: cell;
    background-color: $backgroundColor;
    position: fixed;
    left: 0;
    top: $headerHeight;
    height: calc(100vh - $headerHeight);
    width: 100vw;
  }
}
