<app-drawing-tools
  [selectedColor]="lastSelectedColor"
  [selectedLineWidth]="lastSelectedLineWidth"
  (setColor)="onSetColor($event)"
  (setLineWidth)="onSetLineWidth($event)"
  (mouseenter)="onMouseUp()"
  (mousemove)="onMouseUp()"
  (touchmove)="onMouseUp()"
  (touchstart)="onMouseUp()"
></app-drawing-tools>

<canvas #editor
  (mousemove)="onMouseMove($event)"
  (mousedown)="onMouseDown()"
  (mouseup)="onMouseUp()"
  (touchmove)="onMouseMove($event)"
  (touchstart)="onMouseDown()"
  (touchend)="onMouseUp($event)"
></canvas>
