@import "../../../constants";

:host {
  position: relative;
  height: 100vh;
  width: 100vw;

  app-drawing-tools {
    position: fixed;
    left: 0;
    top: $headerHeight;
    z-index: 1;
  }

  canvas {
    cursor: cell;
    background-color: $backgroundColor;
    position: fixed;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
