@import "../../../constants";

$sideWidth: 20px;

:host {
  z-index: 10;

  .head {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $sideWidth;
    background-color: $headerColor;
    border-bottom: 3px solid $textColor;
    height: $headerHeight;
    z-index: 10;

    h1 {
      cursor: default;
      margin: 0;
      user-select: none;
      transition: all 0.7s;
    }

    .tools {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      user-select: none;
      transition: all 0.3s;
      visibility: hidden;
      opacity: 0;
      transform: translateX(50vh);
      position: absolute;
    }

    &.create, &.view {
      .tools {
        opacity: 1;
        visibility: visible;
      }
    }

    &.create {
      h1 {
        transform: translateX(calc(100vw - 241px));
      }

      .tools {
        transition: all 0.5s;
        transform: translateX(0px);

        app-slides-tools {
          margin-left: 50px;
        }
      }
    }

    &.view {
      h1 {
        transform: translateX(calc(100vw - 241px));
      }

      .tools {
        transition: all 0.5s;
        transform: translateX(0px);
      }
    }
  }
}
