:host {
  .presentation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    ::ng-deep .reveal.center .slides section {
      top: 0 !important;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;

      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none;
    }
  }
}
