<div class="container" *ngIf="!small;else smallUpload">
  <ng-container *ngTemplateOutlet="fileInput"></ng-container>
  <label for="fileDropRef">Browse for file</label>
</div>

<ng-template #smallUpload>
  <div class="container small">
    <ng-container *ngTemplateOutlet="fileInput"></ng-container>
    <label for="fileDropRef">upload</label>
  </div>
</ng-template>

<ng-template #fileInput>
  <input type="file" #fileDropRef id="fileDropRef" accept='.md' (change)="fileBrowseHandler($event)"/>
</ng-template>
