$backgroundColor: #2b2b2b;
$buttonColor: #ffde66;
$buttonColorPrimary: #15c9d9;
$buttonColorActive: #fd7200;
$buttonColorWarning: #fa2c11;
$selectColor: #D6D6D6FF;
$textColor: #000;
$textColorWhite: #fff;

$headerColor: $buttonColorPrimary;
$createColor: #00b377;
$viewColor: #7c3df7;

$headerHeight: 58px
