@import './constants.scss';


body {
  margin: 0;
  background-color: $backgroundColor;
}

button {
  border: none;
  outline: none;
  padding: .6em 1em;
  border-radius: 3px;
  background-color: $buttonColor;
  white-space: nowrap;
  color: #fff;

  &:hover {
    cursor: pointer;
    filter: brightness(95%);
  }

  &.active {
    background-color: $buttonColorActive;
  }

  &.danger {
    background-color: $buttonColorWarning;
  }
}

.buttons-group {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    margin: 0!important;

    &:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
