@import './constants.scss';


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $backgroundColor;
  font-family: sans-serif;
}

button, .as-button {
  font-weight: bold;
  border: 3px solid $textColor;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-transform: uppercase;
  box-shadow: 8px 7px $textColor;
  background-color: $buttonColor;
  white-space: nowrap;
  color: $textColor;
  transition: box-shadow 0.3s ease-out;
  user-select: none;

  &.primary {
    background-color: $buttonColorPrimary;
  }

  &.active {
    background-color: $buttonColorActive;
  }

  &.danger {
    background-color: $buttonColorWarning;
  }

  &.small {
    font-size: 16px;
    padding: 5px 10px;
    box-shadow: 4px 4px $textColor;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 $textColor;
  }
}

.buttons-group {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    &:hover {
      //filter: brightness(95%);
    }

    &:first-of-type {
      margin-right: 10px;
    }
  }
}
